html {
    font-size: 100%
}


body
{
    background-color:black;
    color: white;
}

h1 {
  // <uniquifier>: Use a unique and descriptive class name

.playfair-<uniquifier> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
}