html {
    font-size: 100%
}


body
{
    background-color:black;
    color: white;
}

h1 {
    font-family: "Playfair Display", serif;
    font-variation-settings: "SLNT" 0; 'wght' 400;
    font-size: 180px;
}