:root {
  --text-color: black;
  --bg-color: white;
  --accent-color: #bfcc09;
  --title-font: "Playfair", serif;
  --text-font: "Lexend Giga", sans-serif;
}
  html {
    font-size: 100%
}

body
{
    background-color:rgb(102, 102, 102);
    color: white;
}

main {
  width: 100%;
  max-width: 960px;
  padding: 0.2rem;
  border: 2px solid var(--accent-color);
  margin: 0 auto;
}

a {
  font-size:1.2rem;
  color: var(--bg-color);
  font-family: var(--title-font);
  text-decoration: none;
  font-style: normal;
   font-variation-settings:
    "wdth" 87.5;
    font-weight: 400;
}

a:hover {
  color: var(--accent-color);
  font-variation-settings:
    "wdth" 87.5;
    font-style: italic;
    font-weight: 900;
}

h1 {
  font-family: "Playfair", serif;
  font-size: 6rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

h2{
 font-family: "Lexend Giga", sans-serif;
 font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h3{
 font-family: "Lexend Giga", sans-serif;
 font-size: 1.5rem;
  font-optical-sizing: auto;
  line-height: 1rem;
  font-weight: 200;
  font-style: normal;
}

h4{
 font-family: "Playfair", serif;
 font-size: 1.5rem;
  font-optical-sizing: auto;
  line-height: 1.5rem;
  font-weight: 200;
  font-style: normal;
}

p{
  box-sizing: border-box;
  width: 50%;
  font-family: "Playfair", serif;
 font-size: 1.3rem;
  font-optical-sizing: auto;
  line-height: 2rem;
  font-weight: 200;
  font-style: normal;
}
